<a href="https://colab.research.google.com/github/ausafahmed08/Python-one-liners/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Anagram

In [ ]:
from collections import Counter
s1 = 'below'
s2 = 'elbow'
print('anagram') if Counter(s1) == Counter(s2) else print('not an anagram')

anagram

In [ ]:
s1 = 'below'
s2 = 'ulbow'
print('anagram') if Counter(s1) == Counter(s2) else print('not an anagram')

not an anagram

Binary to decimal

In [ ]:
decimal = int('1010', 2)
print(decimal)

10

Converting string to lower case -->> .lower() and .casefold()

In [ ]:
mystr = 'TUTORIALS Teacher'
print(mystr.casefold())
print('HELLO WORLD'.casefold())
print('HELLO WORLD'.lower())

tutorials teacher
hello world
hello world

In [ ]:
mystr1 = '1# HarBOR Side'
print(mystr1.casefold())
print(mystr1.lower())


mystr2 = 'Python is a Programming Language'
print(mystr2.casefold())
print(mystr2.lower())

1# harbor side
1# harbor side
python is a programming language
python is a programming language

In [ ]:
mystr3 = 'außen'
print(mystr3.casefold())

mystr3 = 'außen'
print(mystr3.lower())

aussen
außen

 Converting string to upper case

In [ ]:
"hi my name is Allwin".upper()

'HI MY NAME IS ALLWIN'

Converting string to byte

In [ ]:
"convert string to bytes using encode method".encode()

b'convert string to bytes using encode method'

In [ ]:
my_str = "hello world"
my_str_as_bytes = str.encode(my_str)
my_str_as_bytes

b'hello world'

In [ ]:
type(my_str_as_bytes)

bytes

In [ ]:
my_decoded_str = my_str_as_bytes.decode()
type(my_decoded_str)

str

Copy Files

In [ ]:
f= open("source.txt","w+")

In [ ]:
for i in range(10):
     f.write("This is line %d\n" % (i+1))

In [ ]:
f.close()

In [ ]:
f1= open("dest.txt","w+")

In [ ]:
import shutil; 
shutil.copyfile('source.txt', 'dest.txt')

'dest.txt'

Sum of n consecutive numbers

In [ ]:
n = input("Enter Number to calculate sum: ")
n = int(n)
res = sum(range(0, n+1))
print("SUM of first ", n, "numbers is: ", res)

Enter Number to calculate sum: 3
SUM of first  3 numbers is:  6

In [ ]:
n = input("Enter Number to calculate sum: ")
n = int(n)
sum_n = n*(n+1)//2
print("SUM of first", n , "numbers is: ",sum_n)

Enter Number to calculate sum: 3
SUM of first 3 numbers is:  6

Swap two values

In [ ]:
a = 10
b = 50
a, b = b, a
print("Value of a:", a)
print("Value of b:", b)

Value of a: 50
Value of b: 10

Fibonacci series

In [ ]:
fib = lambda n: n if n <= 1 else fib(n-1) + fib(n-2)
fib(9)

34

Combine nested lists to a single list

In [ ]:
L1=[[1,2],[3,4,5],[6,7,8,9]]
flat=[]
for i in L1:
  for j in i:
    flat.append(j)
print (flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
main_list = [[1,2],[3,4,5],[6,7,8,9]]
# for sublist in main_list:
#   for item in sublist:
#     print(item) 
[item for sublist in main_list for item in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Run an HTTP server

In [ ]:
python -m http.server 8000

SyntaxError: ignored

Reverse a list

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers[::-1]

[5, 4, 3, 2, 1]

In [ ]:
s='abcd'
s[::2]

'ac'

In [ ]:
'abcd'[::-1]

'dcba'

Factorial of a number

In [ ]:
import math; fact_5 = math.factorial(5)
fact_5

120

 List comprehension using “for” and “if”

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
output_list = []
# Using loop for constructing output list
for var in input_list:
    if var % 2 == 0:
        output_list.append(var)
print("Output List using for loop:", output_list)

Output List using for loop: [2, 4, 4, 6]

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
list_using_comp = [var for var in input_list if var % 2 == 0]
print("Output List using list comprehensions:", list_using_comp)

Output List using list comprehensions: [2, 4, 4, 6]

In [ ]:
even_list = [number for number in [1, 2, 3, 4] if number % 2 == 0]
even_list

[2, 4]

In [ ]:
List = [character for character in 'Hello 2 the World']
print(List)

['H', 'e', 'l', 'l', 'o', ' ', '2', ' ', 't', 'h', 'e', ' ', 'W', 'o', 'r', 'l', 'd']

Longest string from a list

In [ ]:
words = ['This', 'is', 'a', 'list', 'of', 'words']
max(words, key=len)

'words'

List comprehension

In [ ]:
# this will create a list of numbers from 0 to 19
li = [num for num in range(0,20)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Set comprehension

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
set_using_comp = {var for var in input_list if var % 2 == 0}
print("Output Set using set comprehensions:",
                              set_using_comp)

Output Set using set comprehensions: {2, 4, 6}

In [ ]:
num_set = { num for num in range(0,10)}
num_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Dictionary comprehension

In [ ]:
dict_numbers = {x:x*x for x in range(1,5) }
dict_numbers

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
dict_numbers1 = {x:x for x in range(1,5) }
dict_numbers1

{1: 1, 2: 2, 3: 3, 4: 4}

if-else

In [ ]:
print("even") if 4%2==0 else print("odd")

even

Infinit while loop

In [ ]:
while 1:0; break

Check the data type

In [ ]:
isinstance(2, int)
isinstance("allwin", str)
isinstance([3,4,1997], list)

True

While loop

In [ ]:
a=5
while a > 0: a = a - 1; print(a)

4
3
2
1
0

Write to a file using the print statement

In [ ]:
print("Hello, World!", file=open('file.txt', 'w'))

Count the frequency of a character in a string

In [ ]:
print("umbrella".count('l'))

2

In [ ]:
print("umbrella".count('n'))

0

Merge two lists

In [ ]:
#contents of test_list4 will be added to the test_list3
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]
test_list3.extend(test_list4)
print ("Concatenated list using list.extend() : "+ str(test_list3))

Concatenated list using list.extend() : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

Merge two dictionaries

In [ ]:
#contents of dict2 will be added to the dict1
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict2.update(dict1)
dict2

{'a': 10, 'b': 8, 'c': 4, 'd': 6}

 Merge two sets

In [ ]:
# contents of set2 will be copied to the set1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

Timestamp

In [ ]:
import time
print(time.time())

1637148875.9719532

Most frequent element

In [ ]:
numbers = [9, 4, 5, 4, 4, 5, 9, 5, 4]
most_frequent_element = max(set(numbers), key=numbers.count)
most_frequent_element

4

In [ ]:
from collections import Counter
list7 = [1,2,3,4,1,2,6,7,3,8,1]
cnt = Counter(list7)
print(cnt)

Counter({1: 3, 2: 2, 3: 2, 4: 1, 6: 1, 7: 1, 8: 1})

In [ ]:
print(cnt.most_common())

[(1, 3), (2, 2), (3, 2), (4, 1), (6, 1), (7, 1), (8, 1)]

In [ ]:
from collections import Counter
numbers1 = [9, 4, 5, 4, 4, 5, 9, 5, 4]
print(Counter(numbers1).most_common())

[(4, 4), (5, 3), (9, 2)]

In [ ]:
from collections import Counter
numbers1 = [9, 4, 5, 4, 4, 5, 9, 5, 4]
print(Counter(numbers1).most_common()[0][0])

4

Nested list comprehension

In [ ]:
num1 = [[num] for num in range(10)]
num1

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9]]

Octal to decimal

In [ ]:
print(int('30', 8))

24

Convert key-value pair to dictionary

In [ ]:
dict(name='allwin', age=23)

{'age': 23, 'name': 'allwin'}

In [ ]:
numbers = dict(x=5, y=0, z=7)
print('numbers =', numbers)
print(type(numbers))
empty = dict()
print('empty =', empty)
print(type(empty))

numbers = {'x': 5, 'y': 0, 'z': 7}
<class 'dict'>
empty = {}
<class 'dict'>

In [ ]:
dict(x=5, y=0, z=7)

{'x': 5, 'y': 0, 'z': 7}

Get quotient and remainder

In [ ]:
quotient, remainder = divmod(10,3)
print(quotient, remainder)

3 1

Remove duplicate elements from a list

In [ ]:
list(set([4, 4, 5, 5, 6]))

[4, 5, 6]

 Sort list in ascending order

In [ ]:
#doesn't change the list & return sorted list
sorted([5, 2, 9, 1])

[1, 2, 5, 9]

In [ ]:
#it changes the list directly & doesn't return any value
list1 = [5, 2, 9, 1]
list1.sort()
list1

[1, 2, 5, 9]

 Sort list in descending order

In [ ]:
sorted([5, 2, 9, 1], reverse=True)

[9, 5, 2, 1]

In [ ]:
list2 = [5, 2, 9, 1]
list2.sort(reverse=True)
list2

[9, 5, 2, 1]

Get a string of lower-case alphabets

In [ ]:
import string
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

Get a string of upper case alphabets

In [ ]:
import string
print(string.ascii_uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

Get a string of digits from 0 to 9

In [ ]:
import string
print(string.digits)

0123456789

Hexadecimal to decimal:

In [ ]:
print(int('da9', 16))

3497

Human readable DateTime

In [ ]:
import time
print(time.ctime())

Tue Nov 23 09:28:41 2021

Convert a list of strings to integers

In [ ]:
list(map(int, ['1', '2', '3']))

[1, 2, 3]

 Sort dictionary with keys

In [ ]:
dict1 = {'four': 4, 'one': 1, 'eight': 8}
dict1

{'eight': 8, 'four': 4, 'one': 1}

In [ ]:
{key:dict1[key] for key in sorted(dict1.keys())}

{'eight': 8, 'four': 4, 'one': 1}

In [ ]:
nums = [2,4,5,1,3]
alphas = ['b','c','a','d','e']
dic = dict(zip(alphas,nums))
dic

{'a': 5, 'b': 2, 'c': 4, 'd': 1, 'e': 3}

In [ ]:
#will only return a list of keys from the dictionary
sorted(dic)

['a', 'b', 'c', 'd', 'e']

In [ ]:
#will only return a list of values from the dictionary
sorted(dic.values())

[1, 2, 3, 4, 5]

In [ ]:
# sort it by keys and return a list of tuples
sorted(dic.items())

[('a', 5), ('b', 2), ('c', 4), ('d', 1), ('e', 3)]

In [ ]:
# sort the key in reverse order
sorted(dic.items(), reverse=True)

[('e', 3), ('d', 1), ('c', 4), ('b', 2), ('a', 5)]

 Sort dictionary with values

In [ ]:
#use a lambda function here to tell the sorted() function which part of the element to use for comparison
#zero indexing so that x[1] is specifying the second part of each element is a dictionary which is the value.
sorted(dic.items(), key=lambda x:x[1])

[('d', 1), ('b', 2), ('e', 3), ('c', 4), ('a', 5)]

Rotate a list

In [ ]:
# right to left 
li = [1,2,3,4,5]
li[2:] + li[:2]

[3, 4, 5, 1, 2]

In [ ]:
# left to right
li = [1,2,3,4,5]
li[-1:] + li[:-1]

[5, 1, 2, 3, 4]

Remove numbers from a string

In [ ]:
''.join(list(filter(lambda x: x.isalpha(), 'abc123def4fg56vcg2')))

'abcdeffgvcg'

Transpose matrix

In [ ]:
old_list = [[1, 2, 3], [3, 4, 6], [5, 6, 7]]
old_list

[[1, 2, 3], [3, 4, 6], [5, 6, 7]]

In [ ]:
# unzip our array using * and then zip it to get the transpose
list(list(x) for x in zip(*old_list))

[[1, 3, 5], [2, 4, 6], [3, 6, 7]]

 Filter even numbers from a list

In [ ]:
list(filter(lambda x: x%2 == 0, [1, 2, 3, 4, 5, 6] ))

[2, 4, 6]

 Unpacking values

In [ ]:
a, *b, c = [1, 2, 3, 4, 5]
print(a) # 1
print(b) # [2, 3, 4]
print(c) # 5

1
[2, 3, 4]
5

In [ ]:
import sys

In [ ]:
a = 2
sys.getsizeof(a)

28

In [ ]:
sys.getsizeof(list3)

104

In [ ]:
g = [1,'b',3]

In [ ]:
(lambda g : print(g))(g)

[1, 'b', 3]

In [ ]:
type(g)

list

In [ ]:
type(l)

NoneType

In [ ]:
(filter(lambda x: x%2 == 0, [1, 2, 3, 4, 5, 6]))

In [ ]:
 range(1, 11)

range(1, 11)

In [ ]:
[*a] = [1, 2, 3, 4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
*a, = range(5)
print(a)

[0, 1, 2, 3, 4]

In [ ]:
d = {'a':2, 'b':4, 'c':10}
d

{'a': 2, 'b': 4, 'c': 10}

SyntaxError: ignored